In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [2]:
raw_path = "../../data/raw/fred_macro_data_20251029.csv"

df = pd.read_csv(raw_path)

print("✓ Raw data loaded. Shape:", df.shape)
df.head()

✓ Raw data loaded. Shape: (949, 4)

         date    CPI      GDP  FEDFUNDS
0  1946-01-01    NaN      NaN       NaN
1  1946-04-01    NaN      NaN       NaN
2  1946-07-01    NaN      NaN       NaN
3  1946-10-01    NaN      NaN       NaN
4  1947-01-01  21.48  243.164       NaN

In [4]:
import numpy as np

df = df.replace([
    ".", "NA", "N/A", "na", "null", "None", "", " "
], np.nan)


if "date" in df.columns:
    df["date"] = pd.to_datetime(df["date"], errors="coerce")

print("✓ Cleaned and date parsed")
df.head()

✓ Cleaned and date parsed

        date    CPI      GDP  FEDFUNDS
0 1946-01-01    NaN      NaN       NaN
1 1946-04-01    NaN      NaN       NaN
2 1946-07-01    NaN      NaN       NaN
3 1946-10-01    NaN      NaN       NaN
4 1947-01-01  21.48  243.164       NaN

In [5]:
df = df.sort_values("date")
df = df.set_index("date")

df = df.resample("M").mean()  # monthly average

print("✓ Resampled to monthly")
df.head()

✓ Resampled to monthly

C:\Users\jesmi\AppData\Local\Temp\ipykernel_12636\1574745067.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample("M").mean()  # monthly average

            CPI  GDP  FEDFUNDS
date
1946-01-31  NaN  NaN       NaN
1946-02-28  NaN  NaN       NaN
1946-03-31  NaN  NaN       NaN
1946-04-30  NaN  NaN       NaN
1946-05-31  NaN  NaN       NaN

In [6]:
df = df.ffill()
df = df.bfill()

print("✓ Filled missing values")
df.head()

✓ Filled missing values

              CPI      GDP  FEDFUNDS
date
1946-01-31  21.48  243.164       0.8
1946-02-28  21.48  243.164       0.8
1946-03-31  21.48  243.164       0.8
1946-04-30  21.48  243.164       0.8
1946-05-31  21.48  243.164       0.8

In [ ]:
# Save CSV
csv_path = "../../data/raw/fred_processed_20251029_new.csv"
df.to_csv(csv_path)

# Save parquet
parquet_path = "../../data/raw/fred_processed_20251029.parquet"
df.to_parquet(parquet_path)

print("Saved:")
print(csv_path)
print(parquet_path)

Saved:
../../data/raw/fred_processed_20251029_new.csv
../../data/raw/fred_processed_20251029.parquet

In [16]:
import pandas as pd
import numpy as np
from datetime import datetime
import os

In [17]:
raw_path = "../../data/raw/fred_macro_data_20251029.csv"

df = pd.read_csv(raw_path)

print("✓ Raw data loaded. Shape:", df.shape)
df.head()

✓ Raw data loaded. Shape: (949, 4)

         date    CPI      GDP  FEDFUNDS
0  1946-01-01    NaN      NaN       NaN
1  1946-04-01    NaN      NaN       NaN
2  1946-07-01    NaN      NaN       NaN
3  1946-10-01    NaN      NaN       NaN
4  1947-01-01  21.48  243.164       NaN

In [18]:
# For clean
df = df.replace([".", "NA", "null", ""], np.nan)

if "date" in df.columns:
    df["date"] = pd.to_datetime(df["date"], errors="coerce")

print("✓ Cleaned and date parsed")
df.head()

✓ Cleaned and date parsed

        date    CPI      GDP  FEDFUNDS
0 1946-01-01    NaN      NaN       NaN
1 1946-04-01    NaN      NaN       NaN
2 1946-07-01    NaN      NaN       NaN
3 1946-10-01    NaN      NaN       NaN
4 1947-01-01  21.48  243.164       NaN

In [ ]:
# Sort and resample
df = df.sort_values("date")
df = df.set_index("date")

df = df.resample("M").mean()  # monthly average

print("✓ Resampled to monthly")
df.head()

✓ Resampled to monthly

C:\Users\jesmi\AppData\Local\Temp\ipykernel_12636\1574745067.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  df = df.resample("M").mean()  # monthly average

            CPI  GDP  FEDFUNDS
date
1946-01-31  NaN  NaN       NaN
1946-02-28  NaN  NaN       NaN
1946-03-31  NaN  NaN       NaN
1946-04-30  NaN  NaN       NaN
1946-05-31  NaN  NaN       NaN

In [ ]:
# fill missing values
df = df.ffill()
df = df.bfill()

print("✓ Filled missing values")
df.head()

✓ Filled missing values

              CPI      GDP  FEDFUNDS
date
1946-01-31  21.48  243.164       0.8
1946-02-28  21.48  243.164       0.8
1946-03-31  21.48  243.164       0.8
1946-04-30  21.48  243.164       0.8
1946-05-31  21.48  243.164       0.8

In [ ]:
# Save CSV
csv_path = "../../data/raw/fred_processed_20251029.csv"
df.to_csv(csv_path)

# Save parquet
parquet_path = "../../data/raw/fred_processed_20251029.parquet"
df.to_parquet(parquet_path)

print("Saved:")
print(csv_path)
print(parquet_path)